<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mongoConnection" value="mongodb+srv://BuyMyHouseUser:BuyMyHousePassword@buymyhouse.nl5xx.mongodb.net/myFirstDatabase?retryWrites=true&amp;w=majority" />
		<add key="blobStorage" value="DefaultEndpointsProtocol=https;AccountName=databaseassignment;AccountKey=9C/58v4s7P0M6reYCBRI0euC8SIixEMfXBCnaLd62bvbbFgGigUhobQGzUkerodI4Tzqc9fxGhfHTP79FP59LA==;EndpointSuffix=core.windows.net" />
		<add key="sendGridKey" value="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" />
	</appSettings>
</configuration>